<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Id      <input type="text" id="Id" />
    Password<input type="text" id="Pw" />
    <br /><br /><br />
    <form method="post" action="login">
        <input type="button" id="Login" value="Login" />
    </form>
    <p></p>
    <form method="post" action="login">
        <a href="/wNewCustom"> <input type="button" id="NewCustom" value="회원가입" /></a>
    </form>



</body>
</html>